global
        log 127.0.0.1 local0
        user root
        group root
        daemon
        ssl-default-bind-options no-sslv3 no-tls-tickets
	tune.ssl.default-dh-param 2048

defaults
        log global
        mode http
        # we are using docker-compose "depend_on", so there is no need to use libc hack.
        # default-server init-addr libc,none
        option httplog
        option dontlognull
        option httpclose
	option forwardfor
        timeout connect 200s
        timeout client 200s
        timeout server 200s


frontend http-in
        mode http
        bind *:80

        #define samples and matches in ACLs 
        acl build hdr(host) -i build.DOMAINNAME
        acl artifacts hdr(host) -i artifacts.DOMAINNAME
        acl projects hdr(host) -i projects.DOMAINNAME
        acl git hdr(host) -i git.DOMAINNAME
        acl codereview hdr(host) -i codereview.DOMAINNAME
	 use_backend build if build
	 use_backend artifacts if artifacts
	 use_backend projects if projects
	 use_backend codereview if codereview
	 use_backend git if git
frontend https-in
        bind *:443 ssl crt /var/haproxy/haproxy.pem
        reqadd X-Forwarded-Proto:\ https

        # Define hosts
        acl build hdr(host) -i build.DOMAINNAME
        acl artifacts hdr(host) -i artifacts.DOMAINNAME
        acl projects hdr(host) -i projects.DOMAINNAME
        acl codereview hdr(host) -i codereview.DOMAINNAME
        acl git hdr(host) -i git.DOMAINNAME
	 use_backend build if build
	 use_backend artifacts if artifacts
	 use_backend projects if projects
	 use_backend codereview if codereview
	 use_backend git if git
backend git
        redirect scheme https if !{ ssl_fc }
        server git git.DOMAINNAME:7990 check
backend projects
        redirect scheme https if !{ ssl_fc }
        server projects projects.DOMAINNAME:8080 check
backend build
        redirect scheme https if !{ ssl_fc }
        server build build.DOMAINNAME:8080 check
backend artifacts
        redirect scheme https if !{ ssl_fc }
        server artifacts artifacts.DOMAINNAME:8080 check
backend codereview
	redirect scheme https if !{ ssl_fc }
        server codereview codereview.DOMAINNAME:8060 check
