# Environment variables for setting up VirtualBox connections
# through Docker-Machine.
#

# Input variables to Docker-Machine
# Memory in MB
virtualbox_memory:1024
virtualbox_cpu_count:1
# Disk size in MB
virtualbox_disk_size:10000
